.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /*#282c34 | #385c7e |*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2bdb34;
}

.bg-Nav-Styling {
  background-color: #1eb560;
}

.content {
  text-align: left;
  padding: 12px;
  height: 70px;
}

.Card-Image {
  max-width: 250px;
  margin-bottom: 15px;
}

.Nav-Image {
  padding: 7px;
  max-width: 35px;
  max-height: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
